@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Variables */

:root {
  --bckgrdColor: #1a202c;
  --scrollBar: #888888;
  --scrollBarHover: #555555;
  --font: 'Lexend', monospace;
}

/* Initial Section */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 3rem;
  padding: 8px;
  padding-top: 2rem;
  padding-left: 2rem;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollBar);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollBarHover);
}
